version: 2
updates:

- package-ecosystem: "bundler"
  directory: "/"
  schedule:
    interval: "daily"
  ignore:
  - dependency-name: "rails"
    update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - dependency-name: "activerecord-postgis-adapter" # https://github.com/rgeo/activerecord-postgis-adapter/blob/master/README.md#version-compatibility
    update-types: ["version-update:semver-major"]
  - dependency-name: "bootstrap"
    update-types: ["version-update:semver-major"]
  allow:
  - dependency-type: all

- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "daily"
  ignore:
  - dependency-name: "ruby"
    update-types: ["version-update:semver-major", "version-update:semver-minor"]

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
