/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
.arib-font {
  // from https://ja.wikipedia.org/wiki/Template:ARIB%E5%A4%96%E5%AD%97%E3%83%95%E3%82%A9%E3%83%B3%E3%83%88
  //font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','Hiragino Sans GB','.HeitiUI GB18030PUA','游ゴシック体','YuGothic','游ゴシック','Yu Gothic','Apple Symbols','Apple カラー絵文字','Apple Color Emoji','Noto Sans Symbols','源真ゴシック Regular','源ノ角ゴシック Normal','源ノ角ゴシック JP Normal','メイリオ','Windows TV ゴシック','Segoe UI Symbol','Segoe UI Emoji','VL ゴシック','文泉驿正黑','花園明朝A','HanaMinA','YOzFont','Quivira','Symbola','DejaVu Sans','BabelStone Han','BabelStone Modern','和田研中丸ゴシック2004絵文字','WadaLabChuMaruGo2004Emoji','和田研中丸ゴシック2004ARIB','WadaLabChuMaruGo2004ARIB','和田研細丸ゴシック2004絵文字','WadaLabMaruGo2004Emoji','和田研細丸ゴシック2004ARIB','WadaLabMaruGo2004ARIB','Nishiki-teki','Code2000','FreeSans','FreeMono','FreeSerif';
  // bootstrap default + above
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','Hiragino Sans GB','.HeitiUI GB18030PUA','游ゴシック体','YuGothic','游ゴシック','Yu Gothic','Apple Symbols','Apple カラー絵文字','Apple Color Emoji','Noto Sans Symbols','源真ゴシック Regular','源ノ角ゴシック Normal','源ノ角ゴシック JP Normal','メイリオ','Windows TV ゴシック','Segoe UI Symbol','Segoe UI Emoji','VL ゴシック','文泉驿正黑','花園明朝A','HanaMinA','YOzFont','Quivira','Symbola','DejaVu Sans','BabelStone Han','BabelStone Modern','和田研中丸ゴシック2004絵文字','WadaLabChuMaruGo2004Emoji','和田研中丸ゴシック2004ARIB','WadaLabChuMaruGo2004ARIB','和田研細丸ゴシック2004絵文字','WadaLabMaruGo2004Emoji','和田研細丸ゴシック2004ARIB','WadaLabMaruGo2004ARIB','Nishiki-teki','Code2000','FreeSans','FreeMono','FreeSerif';
}

.memo-scroll {
  overflow: scroll;
  max-height: 5em;
}

.memo_tags, .q_tags_contains {
  .form-check-inline:nth-child(3n) label {
    background-color: #dff;
  }
  .form-check-inline:nth-child(3n+1) label {
    background-color: #fdf;
  }
  .form-check-inline:nth-child(3n+2) label {
    background-color: #ffd;
  }
}

pre {
  line-height: 0.55;
}
