name: Update rubocop gems
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.1.1
    - name: git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - uses: ruby/setup-ruby@22fdc77bf4148f810455b226c90fb81b5cbc00a7
      with:
        bundler-cache: true
    - run: |
        set -euxo pipefail
        bundle update $(bundle list --name-only | grep rubocop)
        git status
        git diff
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v7
      with:
        add-paths: |
          Gemfile.lock
    - name: Check outputs
      if: ${{ steps.cpr.outputs.pull-request-number }}
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
